{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Metro Fare</title>
  <link rel="stylesheet" href="{% static 'style.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body style="background-color: rgb(101,95,210);background: linear-gradient(90deg, rgba(101,95,210,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%)">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid ">
          <a class="navbar-brand" href="/">Metro Fare Calculator</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/jaipur_fare">Jaipur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/kanpur">Kanpur</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/nagpur">Nagpur</a>
              </li>
              </ul>

          </div>
      </div>
  </nav>
  <h3  class="text-center text-light my-2">Kochi Metro</h3>
  <div class="container-whole-whole">
      <div class="container-whole">
          <div class="entry">
              <div class="card card-height">
                  <div class="card-body entry-height">
                      <div class="container text-center">
                          <div>
                              <h5 class="titlecss">Fare Calculator</h5>
                          </div>
                          <div>
                              <form action="/kochi_result" method="get">
                                  <h3>From</h3>
                                  <select name="origin" id="origin">
                                      <option value="Aluva">Aluva</option>
                                      <option value="Pulinchodu">Pulinchodu</option>
                                      <option value="Companypady">Companypady</option>
                                      <option value="Ambattukavu">Ambattukavu</option>
                                      <option value="Muttom">Muttom</option>
                                      <option value="Kalamassery">Kalamassery</option>
                                      <option value="Cochin_University">Cochin_University</option>
                                      <option value="Pathadipalam">Pathadipalam</option>
                                      <option value="Edapally">Edapally</option>
                                      <option value="Changampuzha">Changampuzha</option>
                                      <option value="Palarivattom">Palarivattom</option>
                                      <option value="JLN_Stadium">JLN_Stadium</option>
                                      <option value="Kaloor">Kaloor</option>
                                      <option value="Lissie">Lissie</option>
                                      <option value="MG_Road">MG_Road</option>
                                      <option value="Maharajas">Maharajas</option>
                                      <option value="Ernakulam_South">Ernakulam_South</option>
                                      <option value="Kadavanthra">Kadavanthra</option>
                                      <option value="Elamkulam">Elamkulam</option>
                                      <option value="Vytilla">Vytilla</option>
                                      <option value="Thaikoodam">Thaikoodam</option>
                                      <option value="Petta">Petta</option>
                                      <option value="Vadakkekotta">Vadakkekotta</option>
                                      <option value="SN_Junction">SN_Junction</option>
                                  </select>
                                  <h3 class="my-3">To</h3>
                                  <select name="dest" id="dest">
                                    <option value="Aluva">Aluva</option>
                                    <option value="Pulinchodu">Pulinchodu</option>
                                    <option value="Companypady">Companypady</option>
                                    <option value="Ambattukavu">Ambattukavu</option>
                                    <option value="Muttom">Muttom</option>
                                    <option value="Kalamassery">Kalamassery</option>
                                    <option value="Cochin_University">Cochin_University</option>
                                    <option value="Pathadipalam">Pathadipalam</option>
                                    <option value="Edapally">Edapally</option>
                                    <option value="Changampuzha">Changampuzha</option>
                                    <option value="Palarivattom">Palarivattom</option>
                                    <option value="JLN_Stadium">JLN_Stadium</option>
                                    <option value="Kaloor">Kaloor</option>
                                    <option value="Lissie">Lissie</option>
                                    <option value="MG_Road">MG_Road</option>
                                    <option value="Maharajas">Maharajas</option>
                                    <option value="Ernakulam_South">Ernakulam_South</option>
                                    <option value="Kadavanthra">Kadavanthra</option>
                                    <option value="Elamkulam">Elamkulam</option>
                                    <option value="Vytilla">Vytilla</option>
                                    <option value="Thaikoodam">Thaikoodam</option>
                                    <option value="Petta">Petta</option>
                                    <option value="Vadakkekotta">Vadakkekotta</option>
                                    <option value="SN_Junction">SN_Junction</option>
                                  </select>
                                  <br>
                                  <button type="submit" class="btn btn-primary my-5">Check fare</button>
                                  <a class="btn btn-primary" href="/timings" role="button">Check Timings</a>
                              </form>
                          </div>
                      </div>
                      
  
  
  
  
                  </div>
  
              </div>
          </div>
          <div class="result">
              <div class="card ">
                  <div class="card-body cardbodycss">
                      {% block main %}

                      {% endblock main %}
                  </div>
              </div>
          </div>
      </div>
      <div class="map">
         <img  class="imgsize" src="{% static 'Kochi_Metro_Map.png' %}" alt="">
      </div>
  </div>
  <div class="card text-center" style="margin-top: 9rem;">
    <div class="card-body ">
      <h5 class="card-title">Metro fare Calculator</h5>
      <p class="card-text">Unofficial Metro fare calculator</p>
    </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"></script>
</body>

</html>